/* shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.btn-primary {

    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 36px;
    border: none;

}

.section-title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.section-descrip{
    color: #757575;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}


/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


/* banner related styles */

.banner {
    padding: 40px 40px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 580px;
    height: 600px;
}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-descrip {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

}


/* main section styles */

main{
    max-width: 1140px;
    margin: 130px auto;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    
}

.about-info-container{
    display: flex;
  justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;

}
.info-descrip{
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}